* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
}

/* body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.square {
  width: 50px;
  height: 50px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover{
  cursor: pointer;
  background: #2b2b2b;
}

.tic-tac-toe {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin: 50px auto;
}

.ttt-grid {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
} */